body {
	font-family: open sans,sans-serif;
	margin: 0;
	padding: 0;
	background: #f3f3f3;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
       url(opensans.woff2) format('woff2'),
       url(opensans.woff) format('woff'),
       url(opensans.ttf) format('truetype'),
       url(opensans.otf) format('opentype'),
       url(opensans.eot) format('embedded-opentype');
}

p {
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

hr {
    margin-top: 4%;
    margin-bottom: 4%;
    border: 0;
    border-top: 1px solid #d2cbcb94;
}


/*seccion top bar*/
#top-bar {
    background: #f3f3f3;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 1px 5px rgba(190,190,190,.46);
    display: flex;
}

.header-logo {
	margin-left: 1%;
}

.dmenu {
	width: 100%;
	justify-content: center;
	display: flex;
}

.menu {
	display: flex;
	width: 40%;
	justify-content: space-between;
	align-items: center;
}

#logo-bar {
	margin-right: 10%;
	margin-top: 3px;
}

.menu-item {
	color: #81817b;
	padding: 0 4px;
}

.menu-item:hover {
	color: #09a598;
}

.redes-fixed {
	top: 200px;
	width: 50px;
	position: fixed;
	padding-right: 4px;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

/*.img-redes {
 -webkit-transition: all 0.5s ease-out;
 -moz-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
}
*/
.img-redes:hover {
	transition: 0.5s ease-in-out;
	-webkit-transform: rotate(30deg);
 	-moz-transform: rotate(30deg);
 	-ms-transform: rotate(30deg);
 	transform: rotate(360deg) scale(1.1);
}

.redes-wrap {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}


/*Seccion Slide institucionales*/
.institucional {
	display: flex;
	justify-content: center;
}

.container{
	margin:0;
	margin-top: 100px;
	position: relative;
	width: 70%;
	height: 0;
	padding-bottom: 40%;
	background: #4c4c4c;
	border: solid: 10px #2c2c2c;
}

.slide_img{
	position: absolute;
	width: 100%;
	height:100%;
}

.slide_img img{
	width: 100%;
	height: 100%;
}

#i1, #i2, #i3, #i4{
	display: none;
}

.prev, .next{
	width: 12%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(88,88,88,.4); 
	z-index: 99;
	cursor: pointer;
}

.pre{
	left: 0;
}

.next{
	right: 0;
}

.nav_slide{
	width: 100%;
	height: 11px;
	bottom: 12%;
	position: absolute;
	text-align: center;
	z-index: 99; 
}

.dots{
	top:-5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	background: rgba(0,0,0,.6);
}

.slide_img{
	z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
	z-index: 9;
}

#i1:checked ~ .nav_slide #dot1, 
#i2:checked ~ .nav_slide #dot2, 
#i3:checked ~ .nav_slide #dot3,
#i4:checked ~ .nav_slide #dot4{
	background: #fff;
}


/*seccion mapa*/
.mapa {
	display: flex;
	justify-content: center;
}


/*seccion footer*/
footer {
	width: 100%;
	height: 400px;
	background-color: red;
	bottom: 0;
	display: flex;
	background-image: url(img/fondo.jpg);
}

* {
	margin: 0;
	padding: 0;
}

.contenedor-footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.columna2,.columna3 {
	margin-top: 3px;
	width: 260px;
	height: 280px;
	/*background: green;*/
}

.columna1 {
	margin-top: 3px;
	width: 500px;
	height: 350px;
	/*background: green;*/
}

.logo-footer img {
	width: 75%;
}

.social-media-icons {
	padding: 2px 2px 2px 5px;
}

.descripcion {
	padding: 20px 2px 15px 2px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 5px;
	margin-top: 50px;
}

.fab {
	font-size: 30px;
}

.menu-footer li {
	font-size: 18px;
	display: list-item;
	padding: 8px;
}

.link {
	color: #FFFFFF;
	text-decoration: none;
}
